/*Estilos da página index.html*/
.center {
    text-align: center  ;
}


.justify {
    text-align: justify;
}


.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;
}

#menu li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#menu li a:hover {
    color: rgb(59, 59, 66);
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.tm-social {
    width: 25px;
    height: 25px;
}

.mb-50 {
    margin-bottom: 50px;
}

/*Estilo da página contato.html*/

.ml-50 {
    margin-left: 80px;
}
